<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    //- <link rel="stylesheet" href="../static/style.css" />
    style 
        include ../static/style.css

    //- <link rel="preconnect" href="https://fonts.googleapis.com" />
    //- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    //- <link
    //-   href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap"
    //-   rel="stylesheet"/>
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href="/api/v1/tours/">home</a></li>
          <li><a href="/api/v1/about">about</a></li>
          <li><a href="/api/v1/contact">Contact-Us</a></li>
          <li><a href="/api/v1/tours/create">postTour</a></li>
        </ul>
        <span id="nameheader">ToursWala</span>
      </nav>
    </header>
    <section>
      <div class="parent"><!-- fromhere -->
<div class="child2">
  <form action="" method="post">
    <h1 class="h11">SUBMIT TOUR</h1>
    <input type="text" name="name" id="" placeholder="name" />
    <input type="number" name="rating" id="" placeholder="rating" />
    <input type="number" name="duration" id="" placeholder="duration" />
    <input type="text" name="summary" id="" placeholder="summary" />

    <input type="url" name="imageCover" id="" placeholder="imgurl" />
    <button type="submit" class="submitButton">Submit</button>
    
  </form>
</div>
<!-- fromhere -->
</div>
    </section>
    <footer>this is footer</footer>
</body>
</html>
