<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    //- <link rel="stylesheet" href="../static/style.css" />
    style 
        include ../static/style.css

    //- <link rel="preconnect" href="https://fonts.googleapis.com" />
    //- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    //- <link
    //-   href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap"
    //-   rel="stylesheet"/>
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href="/api/v1/tours/">home</a></li>
          <li><a href="/api/v1/about">about</a></li>
          <li><a href="/api/v1/contact">Contact-Us</a></li>
          <li><a href="/api/v1/tours/create">postTour</a></li>
        </ul>
        <span id="nameheader">ToursWala</span>
      </nav>
    </header>
    <section>
      <div class="parent"> <div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/5G85PV7/tour-1-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Forest Hiker</span>
        <span class="rating">4.7 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 5 days</span>
      </div>
    </div>
    <div class="lowwer">Breathtaking hike through the Canadian Banff National Park</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/55RH3z1/tour-2-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Sea Explorer</span>
        <span class="rating">4.8 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 7 days</span>
      </div>
    </div>
    <div class="lowwer">Exploring the jaw-dropping US east coast by foot and by boat</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/sv0SdFm/tour-3-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Snow Adventurer</span>
        <span class="rating">4.5 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 4 days</span>
      </div>
    </div>
    <div class="lowwer">Exciting adventure in the snow with snowboarding and skiing</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/9rCTHT6/tour-4-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The City Wanderer</span>
        <span class="rating">4.6 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 9 days</span>
      </div>
    </div>
    <div class="lowwer">Living the life of Wanderlust in the US' most beatiful cities</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/LxgCvR3/tour-5-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Park Camper</span>
        <span class="rating">4.9 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 10 days</span>
      </div>
    </div>
    <div class="lowwer">Breathing in Nature in America's most spectacular National Parks</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/BBpjLP4/tour-6-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Sports Lover</span>
        <span class="rating">4.7 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 14 days</span>
      </div>
    </div>
    <div class="lowwer">Surfing, skating, parajumping, rock climbing and more, all in one tour</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/1R3H2K0/tour-7-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Wine Taster</span>
        <span class="rating">4.5 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 5 days</span>
      </div>
    </div>
    <div class="lowwer">Exquisite wines, scenic views, exclusive barrel tastings,  and much more</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/r5Mwy2y/tour-8-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Star Gazer</span>
        <span class="rating">4.7 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 9 days</span>
      </div>
    </div>
    <div class="lowwer">The most remote and stunningly beautiful places for seeing the night sky</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/xCSw0LJ/tour-9-cover.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Northern Lights</span>
        <span class="rating">4.9 ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 3 days</span>
      </div>
    </div>
    <div class="lowwer">Enjoy the Northern Lights in one of the best places in the world</div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/R7kmgJb/25694514-2203-w026-n002-1515b-p1-1515.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Test Tour</span>
        <span class="rating">undefined ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 9 days</span>
      </div>
    </div>
    <div class="lowwer">this is test tour </div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/R7kmgJb/25694514-2203-w026-n002-1515b-p1-1515.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Test Tour</span>
        <span class="rating">undefined ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 9 days</span>
      </div>
    </div>
    <div class="lowwer">this is test tour </div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/R7kmgJb/25694514-2203-w026-n002-1515b-p1-1515.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">test Tour 3</span>
        <span class="rating">undefined ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 9 days</span>
      </div>
    </div>
    <div class="lowwer">this is test tour </div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/R7kmgJb/25694514-2203-w026-n002-1515b-p1-1515.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Test Tour</span>
        <span class="rating">undefined ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 6 days</span>
      </div>
    </div>
    <div class="lowwer">this is test tour </div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="https://i.ibb.co/R7kmgJb/25694514-2203-w026-n002-1515b-p1-1515.jpg" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">The Test Tour</span>
        <span class="rating">undefined ⭐</span>
      <div class="upplo">
        <span class="duration">Duration 6 days</span>
      </div>
    </div>
    <div class="lowwer">this is test tour </div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name"></span>
        <span class="rating">undefined ⭐</span>
      <div class="upplo">
        <span class="duration">Duration  days</span>
      </div>
    </div>
    <div class="lowwer"></div>
</article>
</div>
<div class="child">
<article>
    <div class="img">
      <img src="" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name"></span>
        <span class="rating">undefined ⭐</span>
      <div class="upplo">
        <span class="duration">Duration  days</span>
      </div>
    </div>
    <div class="lowwer"></div>
</article>
</div>
</div>
    </section>
    <footer>this is footer</footer>
</body>
</html>
