<div class="child">
<article>
    <div class="img">
      <img src="{%IMAGE%}" class="bgimg" />
      //- <img src="https://picsum.photos/200/300" class="bgimg" />
     
      
      
    </div>
    <div class="upper">
      <span class="name">{%NAME%}</span>
        <span class="rating">{%RATING%} ⭐</span>
      <div class="upplo">
        <span class="duration">Duration {%DURATION%} days</span>
      </div>
    </div>
    <div class="lowwer">{%SUMMARY%}</div>
</article>
</div>
